Tema11/Ejemplo4/Clientes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ListaClientes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cliente" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="apellido" type="xs:string"></xs:element>
                            <xs:choice>
                                <xs:element name="dni" type="xs:string"></xs:element>
                                <xs:element name="nie" type="xs:string"></xs:element>
                            </xs:choice>
                            <xs:element name="compras" type="xs:integer"></xs:element>
                            <xs:element name="regalo" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="matricula" type="xs:string" use="required"></xs:attribute>
                        <xs:attribute name="español" type="xs:string" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="español" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- TIPOS PERSONALIZADOS-->
     <!-- LONGITUD DNI-->
    <xs:simpleType name="tipodni">
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"></xs:maxLength>
            <xs:minLength value="5"></xs:minLength>
        </xs:restriction>
    </xs:simpleType>

<!--  TIPOS DE COMPRAS-->
<!-- MINIMO Y MAXIMO DE COMPRAS-->
 <xs:simpleType name="compras">
    <xs:restriction base="xs:integer">
        <xs:minExclusive value="3000"></xs:minExclusive>
        <xs:maxExclusive value="5000"></xs:maxExclusive>
    </xs:restriction>
 </xs:simpleType> 
    </xs:schema>