Tema11/Ejemplo4/Concesionario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Concesionario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="coche" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="matricula" type="xs:string"></xs:element>
                            <xs:element name="marca" type="xs:string"></xs:element>
                            <xs:element name="modelos" type="xs:string"></xs:element>
                            <xs:choice>
                                <xs:element name="cilindrada" type="xs:decimal"></xs:element>
                                <xs:element name="caballos" type="xs:string"></xs:element>
                            </xs:choice>
                            <xs:element name="combustible" type="xs:string"></xs:element>
                            <xs:element name="precio" type="xs:string"></xs:element>
                            <xs:element name="año" type="xs:unsignedShort" minOccurs="0" ></xs:element>
                            <xs:element name="color" type="xs:string"></xs:element>
                            <xs:element name="interesado" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="año" type="xs:unsignedShort" use="optional"></xs:attribute>
                        <xs:attribute name="interesado" type="xs:string" use="optional"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="provincia" type="xs:string" use="required"></xs:attribute> 
        </xs:complexType>
    </xs:element>
</xs:schema>